@import url(reset.css);

header {
    background-color: #F6F8F9;
    position: sticky;
    position: -webkit-sticky;
    /* for Safari */
    top: 0px;
    z-index: 9999;
    display: inherit;
}

/*the toggles have to come first, because you need to override them with the media queries*/
#menu-check {
    display: none;
}

#menu-toggle {
    display: none;
}

a {
    text-decoration: none;
}

.sidenav {
    width: 100%;
    position: sticky;
    z-index: 9999;
    top: 55px;
    left: 10px;
    background-color: #F6F8F9;
    overflow-x: hidden;
    display: inline-block;
    list-style-type: none;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.75);
}

.list {
    list-style-type: none;
}

.sidenav li a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: larger;
    color: #FFC96C;
    display: grid;
}

.sidenav li a:hover:not(.active) {
    background-color: gray;
}

.sidenav li {
    position: relative;
}

.ab {
    position: absolute;
    top: 150px;
    left: 10px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F6F8F9;

}

ul.topnav li {
    float: right;
}

ul.topnav li a {
    display: block;
    color: #FFC96C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: gray;
}

ul.topnav li a.active {
    background-color: #A6ADB4;
}

ul.topnav li.right {
    float: right;
}

ul.topnav li.left {
    float: left;
    text-align: center;
    padding: 0px 8px;

}

ul.botnav li a {
    color: #FFFFFF;
    margin: 10px;
    text-decoration: none;
}
ul.botnav li a:hover {
    color: gray;
}

ul.botnav li a.active {
    color: #A6ADB4;
}

img.logo {
    padding: 2px 16px;
    height: 40px;
}

p {
    text-align: center;
    color: #FFFFFF;
}

p.content {
    color: #A6ADB4;
    font-size: 1.5em;
}

p.sub {
    text-align: left;
    color: black;
    font-weight:bold;   
    display: grid;
}

p.main {
    text-align: left;
    color: black;
    font-size: medium;
}
p.sdop{
    color: #FFC96C;
    text-align: center;
}
.row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.columns {
    padding-top: 25%;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-left: 10px;
}

.columns1 {
    padding-top: 25%;
    padding-left: 35%;
    padding-bottom: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 600px) {

    header {
        position: sticky;
    }

    nav {
        padding: 10px;
    }

    .sidenav {
        display: none;
    }

    .columns1 {
        padding-top: 25%;
        padding-left: 10%;
        padding-bottom: 15px;
    }

    #menu-toggle {
        display: contents;
        background-color: #F6F8F9;
        color: #FFC96C;
        padding: 10px;
        position: sticky;
    }

    .fa.fa-bars {
        float: right;
    }

    .fa.fa-bars:hover {
        background-color: gray;
        padding: 1px;
    }

    #menu-check~ul {
        display: none;
    }

    #menu-check:checked~ul {
        display: block;
    }


    ul {
        list-style: none;
    }

    ul.topnav li.left {
        display: none;
    }

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }

    .row {
        display: grid;
        grid-template-columns: auto;
        padding: 25px;
    }

}

span.icon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

footer {
    margin-top: 0px;
    background-color: lightgray;
    padding-top: 25px;
    padding-bottom: 40px;
    bottom: 0;
    font-size: larger;
}

.arboretum {
    height: auto;
    background-image: url(../img/churchill-house-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.arboretum1 {
    height: auto;
    background-image: url(../img/extra2-robin-boyd-portrait-copyright-Mark-Strizic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.arboretum2 {
    background-attachment: fixed;

}

.History {
    height: auto;
    background-image: url(../img/churchill-house-4.jpg);
    background-size: cover;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-attachment: inherit;
}

.MainBuilding {
    height: auto;
    background-image: url(../img/churchill-house-19.jpg);
    background-size: cover;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-attachment: inherit;
}

.NorthWing {
    height: auto;
    background-image: url(../img/churchill-house-13.jpg);
    background-size: cover;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-attachment: inherit;


}

.Pool {
    height: auto;
    background-image: url(../img/churchill-house-18.jpg);
    background-size: cover;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-attachment: inherit;


}

.keyfeatures {
    height: auto;
    background-image: url(../img/churchill-house-9.jpg);
    background-size: cover;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-attachment: inherit;


}

.Signifigance {
    height: auto;
    background-image: url(../img/churchill-house-1.jpg);
    background-size: cover;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-attachment: inherit;


}

h1 {
    color: #FFC96C;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
}
h2{
    font-weight:bold;
    font-size: x-large;
}

@media (min-width: 1300px) {
    h1 {
        font-size: 714%;
    }
}

@media (min-width: 768px) and (max-width: 1300px) {
    h1 {
        font-size: 4.8em;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.6em;
    }

    p.content {
        font-size: 1.2em;
    }
}

.mg {
    padding: 45px;
}

.text {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.75);
    text-align: right;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;


}

.op1 {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.75);
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    font-size: small;

}

.op {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.75);
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5%;
    font-size: small;
    visibility: hidden;
    transition: all 1s;
}

.columns:hover>.op {
    visibility: visible;
}

.button1 {
    display: grid;
    background-color: #FFC96C;
    border: none;
    color: #f1f1f1;
    text-align: center;
    font-size: 80%;
    padding: 10%;
    cursor: pointer;
    width: min-content;
    border-radius: 10px;
    margin-top: 10px;
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s;
}

.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-size: inherit;
}

.button1:hover span {
    padding-right: 55%;

}

.button1:hover span:after {
    opacity: 1;
    right: 0;
}


.button {
    position: relative;
    background-color: #FFC96C;
    border: none;
    font-size: 85%;
    color: #FFFFFF;
    padding: 1%;
    width: 120px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
    margin: 8px;
    display: inline-block;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button:hover {
    background-color: gray
}
i.fa.fa-home{
    text-align: center;
}
i.fa.fa-arrow-up{
    text-align: center;
}
.op a{
   display: grid;
}
body {
    line-height: 1.25;
}